root = true

[*.{ts,tsx,js,mjs,json,yml,yaml,md,css,html,sh,ps1,cmd}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cmd]
end_of_line = crlf
